[user]
	name = Felipe Silveira
	email = felipessilveira@gmail.com
[core]
	autocrlf = input
	safecrlf = true

[mergetool.ediff]
    cmd = emacs --eval \" \
(progn \
  (setq ediff-quit-hook 'kill-emacs) \
  (if (file-readable-p \\\"$BASE\\\") \
      (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \
                                       \\\"$BASE\\\" nil \\\"$MERGED\\\") \
      (ediff-merge-files \\\"$LOCAL\\\" \\\"$REMOTE\\\" nil \\\"$MERGED\\\")))\"

[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	st = status
	ci = commit
	co = checkout
	br = branch
	rb = rebase

[merge]
	tool = ediff
